<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article Page</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body id="article-page">
    <!-- Navigations -->
    <%- include('partials/navigation') %>

    <h1>Article Page</h1>
    <hr>
</body>
</html>